@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 32px;
  scroll-behavior: smooth;
}
:root {
  --yellow-color: #ffd729;
  --dark-yellow-color: #e0b701;
  --light-yellow-color: #ffe676;
  --text-color: #030303;
  --bg-color: #fff;
  --grey-color: #e0e0e0;
}
body {
  line-height: 1.5;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}
/* ----------------Navbar---------------- */
.navbar {
  display: flex;
  padding: 16px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
  background-color: var(--bg-color);
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.navbar .hamburger-btn {
  display: none;
  cursor: pointer;
}

.navbar .logo img {
  width: 200px;
}

.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar .login-btn {
  font-size: 24px;
  padding: 16px 32px;
  color: var(--text-color);
  background: var(--yellow-color);
  font-weight: bolder;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.navbar .login-btn:hover {
  background: var(--dark-yellow-color);
}

.home {
  background-image: url(https://kampus-merdeka-software-engineering.github.io/FE-2-Surabaya-8/Source/Img/Hero/home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  overflow: hidden;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}
.profile .pp {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.profile .dropdown {
  width: 16px;
  /* height: 10px; */
  object-fit: cover;
  object-position: center;
}
.profile span {
  font-size: 16px;
  font-weight: 500;
}
.logo img {
  height: auto;
  width: 219px;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  padding: 0px 12px;
}
.navbar a:hover {
  font-weight: bolder;
  transition: 0.5s;
}
.links li .active {
  font-weight: bolder;
}

.login-btn {
  font-size: 24px;
  padding: 16px 32px;
  color: var(--text-color);
  background: var(--yellow-color);
  font-weight: bolder;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login-btn:hover {
  background: var(--dark-yellow-color);
}

/* Popup */
.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: #fff;
  border: 8px solid #fff;
  transform: translate(-50%, -70%);
  border-radius: 16px;
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  height: 12px;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: var(--bg-color);
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.login .form-details {
  padding: 0 40px;
  background: url(https://kampus-merdeka-software-engineering.github.io/FE-2-Surabaya-8/Source/Img/Popup/login.jpg);
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url(https://kampus-merdeka-software-engineering.github.io/FE-2-Surabaya-8/Source/Img/Popup/sign-in.jpg);
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid var(--dark-yellow-color);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #4a4646;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  color: var(--dark-yellow-color);
  font-size: 0.75rem;
}

.form-box a {
  color: var(--dark-yellow-color);
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: var(--yellow-color);
  transition: 0.2s ease;
}

form button:hover {
  background: var(--dark-yellow-color);
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

/* ----------------Profile menu---------------- */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 2%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: var(--bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h2 {
  font-weight: 400;
  font-size: 20px;
}
.user-info img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 15px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--grey-color);
  margin: 12px 0;
  width: 100%;
}
.sub-menu-link p {
  width: 100%;
  font-size: 16px;
}
.sub-menu-link img {
  width: 40px;
  background-color: var(--grey-color);
  padding: 8px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}
.sub-menu-link span {
  font-size: 20px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover {
  font-weight: 600;
}

/* Detail Content */
.card-wrapper{
  max-width: 1100px;
  margin: 65px auto;
}
img{
  width: 100%;
  display: block;
  object-fit: cover;

}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  height: 360px;
  object-fit: cover;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item img {
  height: 100px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: var(--text-color);
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: var(--text-color);
}

.product-price{
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.price span{
  color: #f64749;
  font-weight: bolder;
}
.product-desc h2{
  text-transform: capitalize;
  color: var(--text-color);
  padding-bottom: 0.6rem;
}
.product-desc p{
  font-size: 1rem;
  padding: 0.3rem;
  opacity: 1;
}
.product-desc ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-desc ul li{
  margin: 0;
  list-style: none;
  background: url(https://kampus-merdeka-software-engineering.github.io/FE-2-Surabaya-8/Source/Img/Icon/checklist.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-desc ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
}
.purchase-info .btn:first-of-type{
  background: var(--yellow-color);
}
.purchase-info .btn:last-of-type{
  border: 1.5px solid #030303;
  background: var(--bg-color);
}
.purchase-info .btn:first-of-type:hover{
  background: var(--dark-yellow-color);
}
.purchase-info .btn:last-of-type:hover{
  background: var(--grey-color);
}


@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}
/* Pop up */

.order-complete.active .show-models {
  display: none;

}

.overlay2 {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
  z-index: 10;
}

.order-complete.active .overlay2 {
  opacity: 1;
  pointer-events: auto;
}

.models-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 380px;
  background: #fff;
  border: 8px solid #fff;
  transform: translate(-50%, -70%);
  border-radius: 16px;
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.order-complete.active .models-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1.2);
}
.models-box img {
  width: 100px;
  padding: 20px 0;
}
.models-box i {
  font-size: 70px;
  color: rgb(68, 227, 68);
}

.models-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.models-box h3 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.models-box #oc {
  color: #f64749;
}

.models-box .buttons {
  margin-top: 25px;
}

.models-box a{
  border: 1.5px solid #030303;
  background: var(--bg-color);
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}
.models-box a:hover {
  background-color: var(--grey-color);
  cursor: pointer;
}



/* ----------------Footer---------------- */
footer {
  color: white;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
  margin-bottom: -30px;
}

footer .top-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: auto;
  background: #000;
  margin: 0 65px;
}
footer .top-section .item {
  flex-basis: 15%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}
footer .top-section .item h4 {
  padding: 20px;
}
footer .top-section .item ul {
  list-style: none;
  margin-left: 20px;
}
footer .top-section .item ul li a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: #a1a1a1;
  font-size: 16px;
  font-weight: lighter;
  transition: all 0.4s ease;
  margin-bottom: 8px;
}
footer .top-section .item ul li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: var(--bg-color);
}
footer .top-section .item .btn-download {
  margin: 0 16px;

  font-size: 14px;
  padding: 12px 32px;
  color: var(--text-color);
  background: var(--yellow-color);
  font-weight: bolder;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}
footer .top-section .item .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .top-section .item .logo {
  padding-top: 20px;
  display: flex;
  flex-basis: 40%;
}

footer .top-section .item .social-media {
  display: flex;
  gap: 16px;
  justify-content: center;
}
footer .top-section .item .social-media .media {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  width: 20px;
}
footer .bottom-section {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}

/* ----------------Responsive---------------- */
@media (max-width: 950px) {
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar .logo img {
    width: 150px;
    height: 50px;
    object-fit: cover;
    object-position: 600% 0;
    margin-left: 50px;
  }
  .navbar .logo h2 {
    font-size: 1.4rem;
  }
  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }
  .navbar .links.show-menu {
    left: 0;
  }
  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }
  .navbar .links a:hover {
    color: #00bcd4;
  }
  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
  .home {
    background-size: 100vh 100vh;
  }
  .hero-text {
    margin: 132px 50px;
    text-align: center;
  }

  .hero span {
    font-size: 32px;
    font-weight: 600;
  }
  .hero h1 {
    margin-top: 10px;
    margin-bottom: 65px;
    font-size: 25px;
    font-weight: 100;
    line-height: 1.5;
  }

  .hero p {
    display: none;
  }
  .btn {
    font-size: 16px;
  }
  .content-container {
    margin: 0;
    padding: 0;
  }
  .heading h1 {
    padding: 0;
  }
  .categories-container {
    display: inline-block;
  }
  .categories-container .box {
    align-items: center;
    width: fit-content;
    margin: 30px;
  }
  .travel {
    padding: 7px;
  }
  .product-container {
    margin: 0;
    padding: 24px;
  }
  .secondary-btn {
    margin: 24px;
  }
  .detail {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin-top: 100px;
  }
}
@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }
  .form-box .form-details {
    display: none;
  }
  .form-box .form-content {
    padding: 30px 20px;
  }
  footer .top-section .item .btn-download {
    font-size: 12px;
    padding: 12px 24px;
  }
}
